<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <title>50 apps challenge - Week 02</title>
 </head>
 <body>
	<header><h1>50 apps challenge - Week 02</h1></header>	
	<form method="post" action="/crawl/go">{% csrf_token %}
		<input type="url" required placeholder="http://www.sitetocrawl.com" name="url" />
		<input type="number" required placeholder="depth" min="1" max="10" name="depth" />
		<input type="text" required placeholder="phrase" name="phrase" />
		<input type="submit" />
	</form>
	{% if url %}
		<p>Crawled {{url}} levels{{depth}} deep for {{phrase}}.</p>
		<table>
			<tr>
				<th>Url</th><th>Depth</th>
			</tr>
			{% for found in urls %}
			<tr>
				<td><a href="{{found.url}}">{{found.url}}</a></td>
				<td>{{found.depth}}</td>
			</tr>
			{% empty %}
				<tr>
					<td colspan="2">Nothing found</td>
				</tr>	
			{%endfor%}			
		</table>
	{% endif %}
	<footer>
	<img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" 
alt="Powered by Google App Engine" /></footer>
 </body>
 </html>