<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>50 apps challenge - Week 03 - MapReduce</title>
	<script type="application/javascript">
		{% if maxOccurance %}
		var max = {{ maxOccurance.1 }};		
		{% else %}
		var max = 0;
		{% endif %}
		{% if itemCount %}
		var width = 80*{{itemCount}};
		{% else %}
		var width = 800;
		{% endif %}
		function drawChart()
		{
			var canvas = document.getElementById("chart");
			if (canvas.getContext) {
				canvas.width = width;				
				var ctx = canvas.getContext("2d");
				ctx.fillText("Shortest word: {{shortest.0}}", 10,20);
				ctx.fillText("Longest word: {{longest.0}}", 10,40);
				var posX = 20;
				var posY = canvas.height;
				var unit = canvas.height/parseFloat(max);
				{% for word, occur in occurences %}
				ctx.fillStyle = '#000';				
				ctx.fillText("{{word}} ({{occur}})", posX, posY);				
				ctx.fillStyle = '#F40';
				ctx.fillRect(posX-10, posY-20-unit*{{occur}}+80,40,unit*{{occur}}-80);
				posX += 80;
				{% endfor %}
			}
		}
	</script>
</head>
<body {% if maxOccurance %} onload="drawChart()" {%endif%}>
	<header><h1>Counting words using MapReduce in Python</h1></header>
	<form method="post" action="/mapreduce/">{% csrf_token %}
		<input type="url" required placeholder="Enter url" name="url" />
		<input type="submit" value="Submit" />		
	</form>	
	<canvas id="chart" width="800" height="600">
	</canvas>
</body>
</html>